/* Optional, include a web font  */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:200,200i,400,500,500i,600,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap');
/* The html and body selectors below set the base font for the entire page */

html {
    font-size: 1em;
}


body {
    font-family: font-family: 'Montserrat', sans-serif;
    ;
    font-weight: 500;
    line-height: 1.5;
    color: #333;
    background-color: aliceblue;
    /*    padding: 1em;*/




    /*   there are other ways to do this but it's good to remember not to let text run right up to the edge of borders or color changes, images etc.' */
    /*   padding: 1em; */
}

/* This adds space between paragraphs and list items
   NOTE: most Navigations use list items so you will need to 
   explicity set the margins on those so this rule doesn't 
   mess up your navigation styling */
p {
    font-size: 1.5em;
    font-family: 'Quicksand', sans-serif;
}

li {
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 1.5em;
    font-family: 'Quicksand', sans-serif;
}

/* Base Styling for headings  */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

/* For each of your headings at minimum set the margin, size, line-height. Adjust font-weight and other properties as needed. */

h1 {
    font-size: 6em;
    line-height: ;
    margin: 0 0 0.5em 0;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: #207e93;



}

h2 {
   font-size: 3em;
  line-height: 1.2;
 margin: 1.5em 0 0.5em 0;
  text-align: center;
    color: #207e93;
}

h3 {
    font-size: 4em;
    line-height: 1;
    margin: 1.5em 0 0.25em 0;
}

h4 {
    font-size: 1.5em;
    line-height: 1;
    margin: 1.5em 0 0.5em 0;
}

h5 {
    font-size: 1em;
    line-height: 1;
    margin: 1.5em 0 0.5em 0;

}

h6 {
    font-size: 1em;
    line-height: 1.5;
    margin: 1em 0 0 0;
    font-weight: 400;
    /* normal */
    text-transform: uppercase;
}

/*navigation*/
============================.nav ul {

    padding-left: 40;
    margin-left: 20;
    background-color: #207e93;
    color: White;
    float: right;
    width: 100%;
    font-family: 'Montserrat', sans-serif;


}



.nav ul li {
    display: inline;
}

.nav ul li a {
    padding: 0.6em 0.5em;
    background-color: #207e93;
    color: White;
    text-decoration: none;
    float: center;
    /*     border-right: 1px solid #fff;*/

}

.nav ul li a:hover {
    background-color: #207e93;
    color: #207e93;
}

/* change current item to be the highlighted rollover color */
.nav ul li a.current {
    background-color: #207e93;
    color: #fff;
}

/* NOTE: to be save add the following to the block element right after the Nav in your HTML. Change .WhateverNextElementIs to a selector for the element. */

.explanation {
    clear: both;
}
/*INDEX PAGE*/-------------------------------------------------

.Smart-title {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #207e93;
}


/*.StudySkills {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr 1fr;*/
/*    grid-gap: 10px;*/

}

.skills {
    margin: 2%;
    padding: 2%;
    border: 1px solid #000;

}

.skills--title {
    font-size: 2rem;
    text-align: center;
    font-weight: 200;
    color: #207e93;

}

.skills--title a {
    text-decoration-line: none;
    color: #207e93;

}

.skill--text {
    font-size: 1.5em
}

.tagline {
    font-size: 2em;
    text-align: center;
    font-family: inherit;
    font-weight: 200;
    color: #207e93;
    text-shadow: 2px 2px #6a5acd;
}

.atractor-style {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.5em;
    text-align: center;
    margin: 2%;
    padding: 2%;
    border: 2px solid grey;
    box-shadow: 0px 0px 50px 0px purple inset;


}

.atractor {
    font-size: 2.em;
    /*   font-family: 'Quicksand', sans-serif;*/
    /*    text-align: center;*/
    grid-template-columns: 1fr;
    margin: 2%;
    padding: 2%;
    /*     border-style:dotted;*/
    border: 2px solid grey;
    */
    /*    font-family: sans-serif;*/
    font-family: serif;


}

.intro {
    font-size: 1.5em;
    font-family: 'Quicksand', sans-serif;
    /*    text-align: left;*/
    display: grid grid-template-columns: 1fr;
    margin: 2%;
    padding: 2%;
    /*    border-style: dotted;*/
    border: 2px solid grey;
    font-family: serif;
}


.credit-text {
    font-size: 1.5em
}

.credit-title {
    font-size: 2.5em;
    font-weight: 500;
    text-align: left;
}

.feature-text {
    font-size: 1.5em
}

.featured-title {
    font-size: 2.5em;
    font-weight: 500;
    text-align: left;
}

.site-footer {
    display: grid;
    grid-template-columns: 1fr;
    /*    margin: .5%;*/
    /*    padding: .5%;*/
    /*    border: 1px solid #000;*/
    background-color: #207e93;

}


/*home page icons;*/
.home .material-icons {
    font-size: 15rem;
    color: blue;
    /*    display: inline;*/
    width: 1px;
}

div.icon {
    text-align: center;
}

/*RETRIEVAL PAGE*/-----------------------------------------------------------


/*.Why-is-it-Effective {*/
/*    display: grid;*/
/*grid-template-columns: 1fr 1fr;*/

}

/*.WhyisitEffective {*/
/*    margin: 2%;*/
/*    padding: 2%;*/
/*    border: 1px solid #000;*/
}

.retrievial-title{
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #207e93;
    font-size: 3em;
    line-height: 1.2;
    margin: 1.5em 0 0.5em 0;
    text-align: center;

}



.whatItis-text {
    font-size: 1.5em;
    font-family: 'Quicksand', sans-serif;
    text-align: grid;
    grid-template-columns: 1fr;
    margin: 2%;
    padding: 2%;
    border-style: outset;

}

a {
    color: black;
    border-bottom: 1px solid #0033ff;
}

a,
a:visited,
a:hover {
    text-decoration: none;
}

a:hover {
    color: #005599;
    border-bottom: 1px solid #005599;
}

a:visited {
    color: #880099;
    border-bottom: 1px solid #880099;
}




/*about page*/

.About-This-Site {
    /*    display: grid;*/
    /*    grid-template-columns: 1fr 1fr 1fr;*/

}

.AboutThisSite {
    /*    margin: 2%;*/
    /*    padding: 2%;*/
    /*    border: 1px solid #000;*/
}

.AboutThisSite-title {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #207e93;
}
/*ELABORATIOM PAGE*/-----------------------------------------------------------

.Elaboration-title {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #207e93;
}


.FeaturedSkill-title {
    font-size: 2.5em;
    font-weight: 500;
    text-align: left;
}

/* h2{*/
text-align: center;

img,
video {
    width: auto;
    height: auto;
    max-width: 100%;
}

.dowloads-title {
    font-size: 2em;
    line-height: 1.2;
    margin: 1.5em 0 0.5em 0;
    text-align: ;
}

.Podcastsandwebsites-title {
    font-size: 2em;
    line-height: 1.2;
    margin: 1.5em 0 0.5em 0;
    text-align: ;
}

.video-title {
    font-size: 2em;
    line-height: 1.2;
    margin: 1.5em 0 0.5em 0;
    text-align: ;
}
